@import 'base/vars.styl'

html, body, #wrap
    height 100%
    margin 0

body
    font-size 16px
    background #ffffff
    font-family $body-font   
    & > #wrap
        height auto
        min-height 100%

h1, h2, h3, h4
    font-family $title-font

.logo
    font-family $logo-font

.go-previous
    i
        top .15em
        position inherit
        margin-right .5em
    
    a
        &:link,&:hover, &:visited, &:active
            color #ffffff
    
    @media (max-width: $bp-sm)
        margin-left -2em

.navbar-default
    border none
    & .navbar-toggle 
        & .icon-bar
            background-color #FFFFFF
        &:hover, &:focus
            background $navbar_color_hover
    
    .go-previous
        position absolute
        top .9em
        a
            &:hover, &:link, &:visited, &:active
                color #ffffff
            
            i
                font-size 1.4em
                color #ffffff

.nav.navbar-nav.navbar-right
    @media (min-width: $bp-sm)
        margin-right 0 
        
#content
    padding-bottom 3em
    top $navbar_height
    height 100%

#contact
    .resume
        h2
            margin-bottom 0
            padding-bottom 0
            margin-top 0
            font-size 2em

        h3
            margin-bottom 0
            margin-top 0
            padding-bottom .5em
            padding-top .2em
            text-transform uppercase
            font-size 1.4em

        p 
            + p
                font-size .8em
                
    .description
        margin-top 2em
        padding 0
        @media (max-width: $bp-md)
            padding 0.5em 1em
            margin-bottom 0
    .items
        padding 0

    .item-element
        border-left 0
        height auto
        padding 0
        margin-bottom .5em
        margin-top .1em

        i
            color $palette_primary-color

        a
            color white

        @media (max-width: $bp-md)
            padding .2em 1em

        .cube
            width 2em
            height 2em
            background-color $palette_dark-grey
            border-radius .3em
            margin .5em auto
    .footer
        p
            font-size 1.3em

    @media (max-width: $bp-md)
        padding-bottom 3em

#resume-checkout
    color #fff
    padding-bottom 3em
    margin-bottom 4em

    @media (max-width: $bp-md)
        .container
            width 100%
            -webkit-box-shadow 0px 3px 5px 0px rgba(16,18,18,0.23)
            -moz-box-shadow 0px 3px 5px 0px rgba(16,18,18,0.23)
            box-shadow 0px 3px 5px 0px rgba(16,18,18,0.23)

    @media (min-width: $bp-md)
        padding-top 3em
        -webkit-box-shadow 0px 3px 5px 0px rgba(16,18,18,0.23)
        -moz-box-shadow 0px 3px 5px 0px rgba(16,18,18,0.23)
        box-shadow 0px 3px 5px 0px rgba(16,18,18,0.23)

    h1 
        > span
            border-bottom 1px solid #fff
            display inline-block
        margin-bottom 0

    h2
        font-size 2.5em
    h3
        font-size 2em
        margin-top .5em
        padding-top 0
        padding-bottom 0

section
    padding-bottom 1em

    h2
        padding-bottom 0
        padding-top 0
    
    @media (max-width: $bp-xs)
        padding-left 2em
        padding-right 2em

    .title
        > h2
            text-align center
            border-bottom 1px solid darken($palette_secondary-color, 10)
            padding-top .5em
            padding-bottom .5em
            font-size 3em
            font-weight 100

            @media (max-width: $bp-xs)
                font-size 2em 
            
            &.no-border
                border none

.notify
    margin-top 4em 
    .title
        > h2
            font-size 2.5em
            margin-bottom 0
            margin-top 0
            padding-bottom .2em
            padding-top 0

    i
        font-size 3.5em
        color $palette_primary-color

    p
        margin-bottom 0
        + p
            margin-bottom 3.5em

#resume-detail
    padding-left 1em

    @media (max-width: $bp-sm)
        padding-bottom 1.5em
        padding-right 1em

    h3
        margin-top .5em
        margin-bottom 1.5em
        font-size 1.5em
    
        @media (max-width: $bp-sm)
            padding-top .8em

    span
        &.control-label
            text-align left
            padding-left 0
    label
        padding-left 0
        padding-right .5em
        font-weight bold
        text-align right

    ul
        @media (max-width: $bp-sm)
            padding-left 1em
            padding-right 1em

        li
            margin-bottom 1.2em
    hr
        border-color white
        padding-bottom 1.5em
        margin-top 1.5em

.bg-outer 
  background linear-gradient(to right, #49b4d6 50%, $palette_primary-color 50%)

  @media (max-width: $bp-md)
    background transparent
    
    .left
        background #49b4d6
        //background darken($palette_primary-color, 10)
    
    .right
        background $palette_primary-color

.bg-left 
    > div
           p
                margin-bottom 0
                padding-bottom 2em

        @media (max-width: $bp-xs)
            padding 1em

        @media (min-width: $bp-sm) and (max-width: $bp-md)
            padding .5em 8%

        @media (min-width: $bp-md)
            position absolute
            right 2em
            margin-top 20%

.bg-right 
    > div
        @media (max-width: $bp-xs)
            padding 1em 0
        @media (min-width: $bp-sm) and (max-width: $bp-md)
            padding 1em 6%

         
.go-back
    margin-top 2em
    float right

    i
        vertical-align middle
        padding-right .3em
        padding-top .2em
        display inline-block

    a
        color #fff
        text-transform uppercase
        font-weight bold


hr
    margin-top .5em
    margin-bottom .5em
    border-top 1px solid $palette_secondary-color

    &.strong
        border-color lighten($palette_dark-grey, 30)

h2, h3
    padding-top .8em
    padding-bottom .8em

h2
    font-size 1.5em

h3
    font-size 1.2em

#footer .logo
    float inherit

.container
    @media (max-width: $bp-xs)
        padding-right 0
        padding-left 0

.container-fluid
    &.extend
        padding-left 30px
        padding-right 30px

#footer
    & > .container-fluid
            padding-top .5em
    
    position relative
    margin-top -2em
    min-height $footer_height
    clear both
    border 0
    background-color $palette_dark-grey
    border-top: 1px solid $palette_light-grey
    color #fff

.loader
    display none
    border 5px solid #f3f3f3 /* Light grey */
    border-top 5px solid $palette_primary-color 
    border-radius 50%
    width 35px
    height 35px
    animation spin 2s linear infinite
    margin 2em auto

@keyframes spin
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }