@import 'base.styl'

body
    background-color #EEEEEE

.menu
    &.navbar
        display none

.group-section
    background-color $palette_primary-color

    &.gradient
        background: url('../img/background-diretory.jpg')
        background-size cover
        background-position center
        background-color $palette_primary-color 

    #hero
        span, p
            color #fff

#hero
    color #fff
    img
        margin-top 2em
        border-radius 50%
    h1
        font-size 2.7em
        display inline-block
        max-width 20em

        > span
            display inline-block
            padding-top .5em
            padding-bottom .5em

        & + h2 + p
            font-size 2em

            @media (max-width: $bp-xs)
                font-size 1.5em

        @media (max-width: $bp-xs)
            font-size 2em   
    h2
        @media (max-width: $bp-xs)        
            font-size 2em

        text-transform uppercase
        margin-bottom .7em
        margin-top 0
        font-size 2.5em

    .title
        margin-bottom 3em

    .item 
        padding 3em
        > i
            font-size 2em

        @media (max-width: $bp-md)
            padding 2em      
        
        .icon-credit-card
            line-height .2em
            font-size 2.5em

#contact
    padding-bottom 1em

    @media (min-width: $bp-sm)
        padding-bottom .4em

    .resume
        h2
            margin-top .16em
            padding-top 0
            font-size 1.5em
        
        @media (max-width: $bp-sm)
            text-align center
                
    .description
        text-align right
        margin-top 0
        @media (min-width: $bp-sm)
            padding 0


    .item-element
        margin-bottom 0.1em
        margin-top 0.1em
        padding-left .5em

        a
            color #ffffff

        @media (max-width: $bp-xs)
            text-align center

        @media (min-width: $bp-sm)
            display inline-block

.item-element
    padding .5em 1em
    height 4em
    margin-top 1em
    margin-bottom 1em

#footer
    min-height 2em

section
    .title
        > h2
            margin-bottom 1em

.medic-card
    border-radius 3px
    height auto
    margin-left 0
    margin-right 0
    padding-left 0
    min-height 14em
    margin-bottom 1em
    border-bottom 6px solid #4cbff8
    padding 1em
    background-color #ffffff

    -webkit-box-shadow 1px 1px 7px 0px rgba(147,147,147,0.5)
    -moz-box-shadow 1px 1px 7px 0px rgba(147,147,147,0.5)
    box-shadow 1px 1px 7px 0px rgba(147,147,147,0.5)

    &:hover
        -webkit-box-shadow 0 1px 1px rgba(0,0,0,0.075), 0 0 30px rgba(102,175,233,0.6)
        -moz-box-shadow 0 1px 1px rgba(0,0,0,0.075), 0 0 30px rgba(102,175,233,0.6)
        box-shadow inset 0 1px 1px rgba(0,0,0,0.075), 0 0 30px rgba(102,175,233,0.6)
    

    @media (max-width: $bp-sm)
        text-align center

    h2
        color #4cbff8
        padding-bottom 0
        border-bottom 1px solid #ddd

    h3
        padding-top 0
        padding-bottom 0
        margin-top 0
        font-size 1.3em
        
    h3, p
        color #333

    img
        border-radius 50%
        position relative
        top 1em
        margin-bottom 1.5em

        @media (min-width: $bp-md)    
            right 1em

    .resume
        text-align center
        @media (min-width: $bp-sm)
            text-align left

.logo
    padding-top .3em

.icon.icon-
    &facebook, &twitter, &mail, &telephone
        font-size 1.3em
        position relative
        top .2em


.form-items
    margin-bottom 2em

    select
        font-size 1.05em
        height auto


    @media (min-width: $bp-md)
        .form-item-
            &l
                padding-right 0
            &r
                padding-left 0

    @media (max-width: $bp-md)
        .form-item-l, .form-item-r
            padding 0

.label-place
    margin-bottom 1em
    
    @media (min-width: $bp-sm)    
        margin-top 2em

    .label-default
        background-color #ddd
        color $palette_dark-grey
        font-weight 400

.heroHeader
    padding-top 1em
    padding-bottom 1em
    font-size 2em

#specialists-grid
    margin-bottom 6em
    min-height 14em
    .card
        @media (max-width: $bp-md)
            padding 0

.specialty-filter, .city-filter
    display none !important

.result-message
    text-align center
    display none
    p
        color lighten($palette_dark-grey, 20)