@import 'base.styl'


#menu-navbar-collapse
    #go-registry
        border-radius 3px
        color $palette_primary-color 
        background-color #fff
        margin-top .33em
        text-transform uppercase
        padding 0.64em 0.8em

        i
            padding-right .3em
            float left
            font-size 1.5em

    #go-registry:hover
        background #f8f8f8 !important
        color darken($palette_primary-color, 20) !important

    @media (max-width: $bp-xs)
        border 0
        ul
            border-top 0
            margin-top -0.1em
        & > .navbar-right                
            li
                border-bottom 1px solid #690757
                &:first-child
                    border-top 0
                &:last-child
                    border-bottom 0
                a
                    font-weight 100
                    &:hover, &:focus
                        color #FFFFFF
                        background $navbar_color_hover

.menu
    &.navbar
        margin-bottom 0
        height $navbar_height
        background-color $navbar_color

        -webkit-box-shadow 0px 1px 3px 0px rgba(16, 18, 18, 0.23)
        -moz-box-shadow 0px 1px 3px 0px rgba(16, 18, 18, 0.23)
        box-shadow 0px 1px 3px 0px rgba(16, 18, 18, 0.23)

        @media (max-width: $bp-xs)
            height: 3.2em;
            padding-left 2em
            padding-right 2em

        & > div.container-fluid
            border 0
            padding-top .44em
    .resume-doctor
        font-family 'Cabin',sans-serif
        font-size 1.5em
        color #fff

.resume-doctor
    font-size 1.3em
    p
        color #ffffff
        margin 0
        font-size .8em
        & + p
            font-size .66em
    &.navbar-brand
        padding-top .2em
        &:hover
            color #fff
    
        @media (min-width: $bp-sm)
            padding-left 0

#footer
    .resume-doctor
        float right
        padding-top 0.5em
        letter-spacing .03em

.group-section
    background-color $palette_primary-color

    .list-item 
        color #fff


    #profile
        padding-top 2em
        span, p
            color #fff

    #services
        padding-top 1em
        span, p
            color #fff

#profile
    color #fff
    img
        margin-top 2em
        border-radius 50%
    h1
        font-size 3.5em

        > span
            border-bottom 1px solid #fff
            display inline-block
            @media (max-width: $bp-xs)
                border-bottom none

        & + h2 + p
            font-size 2em

            @media (max-width: $bp-xs)
                font-size 1.5em

        @media (max-width: $bp-xs)
            font-size 2.7em
            text-decoration none
            border-bottom 1px solid #fff    
    h2
        @media (max-width: $bp-xs)        
            font-size 2em

        text-transform uppercase
        margin-bottom .7em
        margin-top 0
        font-size 2.5em

#services
    margin-top -.7em
    color #fff

    ul
        list-style outside
        text-align center

        li
            width 15em
            vertical-align middle
            text-align left
            margin-left .5em
            margin-right .5em
            padding 1em
        
    .item-element
        margin-bottom 0
        height auto
        
        @media (max-width: $bp-sm)
            padding-bottom .5em
            padding-top 0
            line-height 1.1em
            width 100%

#schedule
    > div + div.container
        padding-bottom 1.3em
                
    @media (min-width: $bp-sm)
        margin-bottom 2em

#consultation
    li
        .item-element
            margin-top 0
            margin-bottom 1em
            border 1px solid darken($palette_secondary-color, 5)
            border-left 6px solid $palette_primary-color
            border-radius 2px
            width 13em
            color $palette_dark-grey
    
    .item-element
        border-left 6px solid $palette_primary-color

    @media (max-width: $bp-xs)
        padding-left 0
        padding-right 0
        .container
            padding-left 2em
            padding-right 2em    

    .list-inline
        @media (max-width: $bp-md)
            padding-left 1em
            padding-top 1em

.list-item
    display list-item
    color $palette_primary-color
    span 
        color $palette_dark-grey 

.item-element
    padding .5em 1em
    height 4em
    margin-top 1em
    margin-bottom 1em
    
    &.lg
        /*min-height 12em*/
        height auto
        padding-right 2em
        border-left none !important

    .title
        font-size 1.2em
        font-weight bold

    .footer
        position absolute
        bottom 0
        width 100%
        font-size .8em
        padding-bottom 1em
        padding-right 2em

        span 
            padding .2em .8em
            color #ffffff
            text-transform uppercase
            font-size .8em
            &.label-
                &success
                    background-color $palette_primary-color
                &danger
                    background-color $palette_red
#footer
    min-height $footer_height

.day
    background-color transparent
    padding-bottom 2em
    padding-top 1em
    border-right 2px solid #e1e0e0
    min-width 14.25em
    color #fff
    
    @media (max-width: $bp-sm)
        border-left 2px solid #e1e0e0
        border-bottom: none

    .title.text-center
        padding .5em
        border-bottom 1px solid #cfc9c9
        margin-bottom 1.5em 
        background-color $palette_primary-color
        position relative
        top -1em

.reservation-block
    text-align center
    height 7.12em
    max-height 7.12em

    button
        padding 0 1em
        width 80%
        margin 1em auto
        border-left 6px solid $palette_primary-color
        border-radius 2px
        color $palette_grey 

        &:hover, &:visited, &:focus, &:active
            background #f6f6f6 !important
            border-color #4cbff8 !important
            color #4cbff8 !important
        
        @media (max-width: $bp-xxs)
            font-size .7em
            
        @media (max-width: $bp-sm)
            width 90%
        
        div
            &.reservation-icon
                float left
                margin-top 1.2em

                i
                    padding-top .35em
                    font-size 3em

                    @media (max-width: $bp-sm)
                        padding-top: .6em
                        padding-bottom .5em

            &.reservation-text
                float left
                height 100%
                padding-left 1em
                padding-bottom .5em
                font-size 1.3em
                color lighten($palette_dark-grey, 20)

                .hidden-xs
                    padding-bottom 0
                    line-height .8em


                @media (max-width: $bp-xs)
                    padding-left 0
                    padding-top .5em
                    font-size 1.3em

                div
                    padding-left .5em
                    @media (max-width: $bp-xs)
                        /*padding-top: .3em;*/
                        padding-top 1em
                    @media (min-width: $bp-sm)
                        padding-top 11%

    &-empty
        text-align center
        padding 0 1em
        height 7.12em
        max-height 7.12em

.reservation-detail
    background-color $palette_secondary-color
    padding-bottom 2.6em

    @media (max-width: $bp-sm)
        width 96%
        margin 2em 1em 2em 0.9em

    h3
        margin-top .66em
        font-weight 400
        font-size 1.5em
    span
        &.control-label
            text-align left
            padding-left 0
    label
        padding-left 0
        padding-right .5em
        font-weight 400
    
    hr
        margin-top 1.5em
        margin-bottom .2em
    
    .description-pay
        .copy
            padding-right 0
            > div
                margin-top 1.5em
                padding-left .5em
                font-size .9em
        .payment
            img
                margin-top 1em
                + img
                    padding-left .5em

section
    h3
        .pager-shedule
            text-align left

.pager-shedule
    padding-bottom 1.5em
    width 100%
    padding-right .5em
    margin-bottom 1.5em

    .float-right
        float right
    
    .float-left
        float left

    .week-buttons
        @media (max-width: $bp-xs)
            float none
            text-align center
            position relative
            top 4.4em
            margin 0 auto

    .month
        text-transform uppercase
        font-weight bold
        font-size 2em
        margin-right .5em
        margin-top -.25em
        color lighten($palette_dark-grey, 20)

        @media (max-width: $bp-xs)
            float none
            text-align center
            position relative
            top -.3em
            margin-right 0

    button
        &.btn.disabled, &.btn[disabled]
            opacity .45

#block-time-start,#block-time-end, #reservation-date, #price, #block-number, #block-limit
    display none

.select
    padding 0
    &.input-group-addon
        & > select
            width auto
            height auto
            border none

.reservation-block-empty
    @media (max-width: $bp-sm)
        display none

#form-reservation
    display none
    margin-top -2em
    margin-bottom 2em

    form
        margin-top .5em

        h3
            &.title
                margin-top 0
                padding-top 0
                font-weight bold
        .action-button
            width 100%
            margin-top 1.5em
            border-radius 2px
            text-transform uppercase
            -webkit-box-shadow 1px 2px 4px rgba(0, 0, 0, 0.2);
            -moz-box-shadow 1px 2px 4px rgba(0, 0, 0, 0.2);
            box-shadow 1px 2px 4px rgba(0, 0, 0, 0.2);

        .btn-success
            background-color $palette_primary-color
            border-color $palette_primary-color

            &:hover, &:visited, &:focus
                background-color $palette_primary-color
                border-color $palette_primary-color
            &:active
                background-color darken($palette_primary-color, 12)
        
        .label-lg
            margin-top -0.2em
            padding-top 0

            @media (min-width: $bp-md) and (max-width: $bp-lg)
                padding-left 0

            .icon-asterisk
                bottom 2.5em

                @media (max-width: $bp-md)
                    bottom .1em
        label
            font-weight bold
            .icon-asterisk
                color $palette_red
        
        .icon-asterisk
            font-size .6em
            position absolute
            bottom .4em
            padding-left .5em

            @media (max-width: $bp-md)
                position relative
                bottom 0            

        .required-copy
            color $palette_dark-grey
            font-size .85em
            .icon-asterisk
                position relative
                bottom .3em

#monday, #tuesday, #wednesday, #thursday, #friday
    @media (max-width: $bp-sm)
        border-right none
        border-left none
        margin-bottom 3em
        border-radius 10px

        .title
            border-top-right-radius 10px
            border-top-left-radius 10px

        -webkit-box-shadow 0px 3px 7px 0px rgba(147, 147, 147, 0.5)
        -moz-box-shadow 0px 3px 7px 0px rgba(147, 147, 147, 0.5)
        box-shadow 0px 3px 7px 0px rgba(147, 147, 147, 0.5)

#friday
    border-right none
    .title
        border-top-right-radius 10px

#monday
    .title
        border-top-left-radius 10px

#tuesday
    @media (min-width: $bp-sm) and (max-width: $bp-lg)
        box-shadow 0px 3px 8px 0px rgba(147, 147, 147, 0.2)
        -webkit-box-shadow 0px 3px 8px 0px rgba(147, 147, 147, 0.2)
        -moz-box-shadow 0px 3px 8px 0px rgba(147, 147, 147, 0.2)

#monday
    @media (min-width: $bp-sm) and (max-width: $bp-lg)
        box-shadow -5px 3px 8px 0px rgba(147, 147, 147, 0.2)
        -webkit-box-shadow -5px 3px 8px 0px rgba(147, 147, 147, 0.2)
        -moz-box-shadow -5px 3px 8px 0px rgba(147, 147, 147, 0.2)
        border-top-left-radius 10px
        border-bottom-left-radius 10px
        
        .title
            border-top-left-radius 10px

#wednesday
    @media (max-width: $bp-md)
        border-right none
    @media (min-width: $bp-sm) and (max-width: 991px)
        .title
            border-top-right-radius 10px

        box-shadow 5px 3px 8px 0px rgba(147, 147, 147, 0.2)
        -webkit-box-shadow 5px 3px 8px 0px rgba(147, 147, 147, 0.2)
        -moz-box-shadow  5px 3px 8px 0px rgba(147, 147, 147, 0.2)
        border-top-right-radius 10px
        border-bottom-right-radius 10px

    @media (min-width: 992px) and (max-width: 1199px)
        box-shadow 0px 3px 8px 0px rgba(147, 147, 147, 0.2)
        -webkit-box-shadow 0px 3px 8px 0px rgba(147, 147, 147, 0.2)
        -moz-box-shadow 0px 3px 8px 0px rgba(147, 147, 147, 0.2)

#thursday
    @media (min-width: $bp-sm) and (max-width: 991px)
        margin-top 2em

        box-shadow -5px 3px 8px 0px rgba(147, 147, 147, 0.2)
        -webkit-box-shadow -5px 3px 8px 0px rgba(147, 147, 147, 0.2)
        -moz-box-shadow -5px 3px 8px 0px rgba(147, 147, 147, 0.2)
        border-top-left-radius 10px
        border-bottom-left-radius 10px
        
        .title
            border-top-left-radius 10px  

    @media (min-width: 992px) and (max-width: 1199px)
        .title
            border-top-right-radius 10px

        box-shadow 5px 3px 8px 0px rgba(147, 147, 147, 0.2)
        -webkit-box-shadow 5px 3px 8px 0px rgba(147, 147, 147, 0.2)
        -moz-box-shadow  5px 3px 8px 0px rgba(147, 147, 147, 0.2)
        border-top-right-radius 10px
        border-bottom-right-radius 10px

#friday
    @media (min-width: $bp-sm) and (max-width: $bp-lg)
        .title
            border-top-right-radius 10px

        box-shadow 5px 3px 8px 0px rgba(147, 147, 147, 0.2)
        -webkit-box-shadow 5px 3px 8px 0px rgba(147, 147, 147, 0.2)
        -moz-box-shadow  5px 3px 8px 0px rgba(147, 147, 147, 0.2)
        border-top-right-radius 10px
        border-bottom-right-radius 10px
  
     @media (min-width: 992px) and (max-width: 1199px)
        -webkit-box-shadow 0px 3px 7px 0px rgba(147,147,147,0.5)
        -moz-box-shadow 0px 3px 7px 0px rgba(147,147,147,0.5)
        box-shadow 0px 3px 7px 0px rgba(147,147,147,0.5)

        border-top-left-radius 10px
        border-bottom-left-radius 10px
        border-top-right-radius 10px
        border-bottom-right-radius 10px
        
        .title
            border-top-left-radius 10px
            border-top-right-radius 10px

#friday
    @media (min-width: $bp-sm) and (max-width: $bp-lg)
        margin-top 2em

.row.margin-reset-r
    margin-right 0
    margin-bottom 1.5em
    @media (max-width: $bp-sm)
        margin-right -15px

.media, .media-body
    @media (max-width: $bp-sm)
        overflow inherit
        text-align center

.media-object
    @media (max-width: $bp-sm)
        margin 0 auto

.media-body, .media-left, .media-right
    @media (max-width: $bp-sm)
        display initial

.days
    border-radius 10px
    height auto
    margin-left 0
    margin-right 0
    padding-left 0
    min-height 10em
    margin-bottom 1em

    @media (min-width: $bp-lg)
        -webkit-box-shadow 0px 3px 7px 0px rgba(147, 147, 147, 0.5)
        -moz-box-shadow 0px 3px 7px 0px rgba(147, 147, 147, 0.5)
        box-shadow 0px 3px 7px 0px rgba(147, 147, 147, 0.5)

.week-buttons
    display inline-block

    @media (max-width: $bp-xs)
        text-align center
        width 100%

    #next-week
        margin-left 1em
    #last-week
        margin-right 1em

.circle-decorator
    width .7em
    height .7em
    -moz-border-radius 50%
    -webkit-border-radius 50%
    border-radius 50%
    background $palette_dark-grey
    margin auto
    position absolute
    top .3em
    + div
      margin-left 1em

.def
    background red
    width 200px
    height 100px

.col-center
    float none
    margin o auto

.map_container
    position relative

#map-canvas
    overflow hidden
    padding-bottom 22.25%
    padding-top 30px
    position relative    

#monday, #tuesday, #thursday, #wednesday, #friday
    &-day-date
        display none !important

.day-number
    font-size 2em
    font-weight bold

.reservation-block button.selected
    border-color $palette_primary-color
    color $palette_primary-color

.reservation-block button.inactive
    border-color darken($palette_light-grey, 10)

.week-buttons
    button
        border-color $palette_dark-grey
        border-radius 50%
        padding .4em .6em .1em .5em
        &:hover
            background-color transparent
            border-color darken($palette_dark-grey, 10)
        i
            color $palette_dark-grey

.non-reservable
    .reservation-icon
        color $palette_grey
    .reservation-text
        color lighten($palette_grey, 10) !important

    &:hover
        &:hover, &:visited, &:focus, &:active
            border-color $palette_grey !important
            color #4cbff8 !important

#nationality
    padding-bottom .2em
    padding-top .2em

.icon.social-icon
    font-size 1.3em
    position relative
    top .2em

#consultation-map
    height 450px
    width 100%
    
    & > div 
        height 450px
        width 100%
