@import url("https://fonts.googleapis.com/css?family=Cabin|Mukta+Vaani:200,400|Montserrat:800");
html,
body,
#wrap {
  height: 100%;
  margin: 0;
}
body {
  font-size: 16px;
  background: #fff;
  font-family: 'Mukta Vaani', sans-serif;
}
body > #wrap {
  height: auto;
  min-height: 100%;
}
h1,
h2,
h3,
h4 {
  font-family: 'Mukta Vaani', sans-serif;
}
.logo {
  font-family: 'Montserrat', sans-serif;
}
.go-previous i {
  top: 0.15em;
  position: inherit;
  margin-right: 0.5em;
}
.go-previous a:link,
.go-previous a:hover,
.go-previous a:visited,
.go-previous a:active {
  color: #fff;
}
@media (max-width: 768px) {
  .go-previous {
    margin-left: -2em;
  }
}
.navbar-default {
  border: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #fff;
}
.navbar-default .go-previous {
  position: absolute;
  top: 0.9em;
}
.navbar-default .go-previous a:hover,
.navbar-default .go-previous a:link,
.navbar-default .go-previous a:visited,
.navbar-default .go-previous a:active {
  color: #fff;
}
.navbar-default .go-previous a i {
  font-size: 1.4em;
  color: #fff;
}
@media (min-width: 768px) {
  .nav.navbar-nav.navbar-right {
    margin-right: 0;
  }
}
#content {
  padding-bottom: 3em;
  top: 50px;
  height: 100%;
}
#contact .resume h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  font-size: 2em;
}
#contact .resume h3 {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0.5em;
  padding-top: 0.2em;
  text-transform: uppercase;
  font-size: 1.4em;
}
#contact .resume p + p {
  font-size: 0.8em;
}
#contact .description {
  margin-top: 2em;
  padding: 0;
}
@media (max-width: 992px) {
  #contact .description {
    padding: 0.5em 1em;
    margin-bottom: 0;
  }
}
#contact .items {
  padding: 0;
}
#contact .item-element {
  border-left: 0;
  height: auto;
  padding: 0;
  margin-bottom: 0.5em;
  margin-top: 0.1em;
}
#contact .item-element i {
  color: #4cbff8;
}
#contact .item-element a {
  color: #fff;
}
@media (max-width: 992px) {
  #contact .item-element {
    padding: 0.2em 1em;
  }
}
#contact .item-element .cube {
  width: 2em;
  height: 2em;
  background-color: #58595b;
  border-radius: 0.3em;
  margin: 0.5em auto;
}
#contact .footer p {
  font-size: 1.3em;
}
@media (max-width: 992px) {
  #contact {
    padding-bottom: 3em;
  }
}
#resume-checkout {
  color: #fff;
  padding-bottom: 3em;
  margin-bottom: 4em;
}
@media (max-width: 992px) {
  #resume-checkout .container {
    width: 100%;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
    -moz-box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
    box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
  }
}
@media (min-width: 992px) {
  #resume-checkout {
    padding-top: 3em;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
    -moz-box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
    box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
  }
}
#resume-checkout h1 {
  margin-bottom: 0;
}
#resume-checkout h1 > span {
  border-bottom: 1px solid #fff;
  display: inline-block;
}
#resume-checkout h2 {
  font-size: 2.5em;
}
#resume-checkout h3 {
  font-size: 2em;
  margin-top: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
}
section {
  padding-bottom: 1em;
}
section h2 {
  padding-bottom: 0;
  padding-top: 0;
}
@media (max-width: 767px) {
  section {
    padding-left: 2em;
    padding-right: 2em;
  }
}
section .title > h2 {
  text-align: center;
  border-bottom: 1px solid #d8ded0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 3em;
  font-weight: 100;
}
@media (max-width: 767px) {
  section .title > h2 {
    font-size: 2em;
  }
}
section .title > h2.no-border {
  border: none;
}
.notify {
  margin-top: 4em;
}
.notify .title > h2 {
  font-size: 2.5em;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0.2em;
  padding-top: 0;
}
.notify i {
  font-size: 3.5em;
  color: #4cbff8;
}
.notify p {
  margin-bottom: 0;
}
.notify p + p {
  margin-bottom: 3.5em;
}
#resume-detail {
  padding-left: 1em;
}
@media (max-width: 768px) {
  #resume-detail {
    padding-bottom: 1.5em;
    padding-right: 1em;
  }
}
#resume-detail h3 {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-size: 1.5em;
}
@media (max-width: 768px) {
  #resume-detail h3 {
    padding-top: 0.8em;
  }
}
#resume-detail span.control-label {
  text-align: left;
  padding-left: 0;
}
#resume-detail label {
  padding-left: 0;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
}
@media (max-width: 768px) {
  #resume-detail ul {
    padding-left: 1em;
    padding-right: 1em;
  }
}
#resume-detail ul li {
  margin-bottom: 1.2em;
}
#resume-detail hr {
  border-color: #fff;
  padding-bottom: 1.5em;
  margin-top: 1.5em;
}
.bg-outer {
  background: linear-gradient(to right, #49b4d6 50%, #4cbff8 50%);
}
@media (max-width: 992px) {
  .bg-outer {
    background: transparent;
  }
  .bg-outer .left {
    background: #49b4d6;
  }
  .bg-outer .right {
    background: #4cbff8;
  }
}
.bg-left > div p {
  margin-bottom: 0;
  padding-bottom: 2em;
}
@media (max-width: 767px) {
  .bg-left {
    padding: 1em;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .bg-left {
    padding: 0.5em 8%;
  }
}
@media (min-width: 992px) {
  .bg-left {
    position: absolute;
    right: 2em;
    margin-top: 20%;
  }
}
@media (max-width: 767px) {
  .bg-right > div {
    padding: 1em 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .bg-right > div {
    padding: 1em 6%;
  }
}
.go-back {
  margin-top: 2em;
  float: right;
}
.go-back i {
  vertical-align: middle;
  padding-right: 0.3em;
  padding-top: 0.2em;
  display: inline-block;
}
.go-back a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-top: 1px solid #f1f3ee;
}
hr.strong {
  border-color: #a5a6a7;
}
h2,
h3 {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
#footer .logo {
  float: inherit;
}
@media (max-width: 767px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}
.container-fluid.extend {
  padding-left: 30px;
  padding-right: 30px;
}
#footer {
  position: relative;
  margin-top: -2em;
  min-height: 15em;
  clear: both;
  border: 0;
  background-color: #58595b;
  border-top: 1px solid #f0f0f0;
  color: #fff;
}
#footer > .container-fluid {
  padding-top: 0.5em;
}
.loader {
  display: none;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #4cbff8;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
  margin: 2em auto;
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
