@import url("https://fonts.googleapis.com/css?family=Cabin|Mukta+Vaani:200,400|Montserrat:800");
html,
body,
#wrap {
  height: 100%;
  margin: 0;
}
body {
  font-size: 16px;
  background: #fff;
  font-family: 'Mukta Vaani', sans-serif;
}
body > #wrap {
  height: auto;
  min-height: 100%;
}
h1,
h2,
h3,
h4 {
  font-family: 'Mukta Vaani', sans-serif;
}
.logo {
  font-family: 'Montserrat', sans-serif;
}
.go-previous i {
  top: 0.15em;
  position: inherit;
  margin-right: 0.5em;
}
.go-previous a:link,
.go-previous a:hover,
.go-previous a:visited,
.go-previous a:active {
  color: #fff;
}
@media (max-width: 768px) {
  .go-previous {
    margin-left: -2em;
  }
}
.navbar-default {
  border: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #fff;
}
.navbar-default .go-previous {
  position: absolute;
  top: 0.9em;
}
.navbar-default .go-previous a:hover,
.navbar-default .go-previous a:link,
.navbar-default .go-previous a:visited,
.navbar-default .go-previous a:active {
  color: #fff;
}
.navbar-default .go-previous a i {
  font-size: 1.4em;
  color: #fff;
}
@media (min-width: 768px) {
  .nav.navbar-nav.navbar-right {
    margin-right: 0;
  }
}
#content {
  padding-bottom: 3em;
  top: 50px;
  height: 100%;
}
#contact .resume h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  font-size: 2em;
}
#contact .resume h3 {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0.5em;
  padding-top: 0.2em;
  text-transform: uppercase;
  font-size: 1.4em;
}
#contact .resume p + p {
  font-size: 0.8em;
}
#contact .description {
  margin-top: 2em;
  padding: 0;
}
@media (max-width: 992px) {
  #contact .description {
    padding: 0.5em 1em;
    margin-bottom: 0;
  }
}
#contact .items {
  padding: 0;
}
#contact .item-element {
  border-left: 0;
  height: auto;
  padding: 0;
  margin-bottom: 0.5em;
  margin-top: 0.1em;
}
#contact .item-element i {
  color: #4cbff8;
}
#contact .item-element a {
  color: #fff;
}
@media (max-width: 992px) {
  #contact .item-element {
    padding: 0.2em 1em;
  }
}
#contact .item-element .cube {
  width: 2em;
  height: 2em;
  background-color: #58595b;
  border-radius: 0.3em;
  margin: 0.5em auto;
}
#contact .footer p {
  font-size: 1.3em;
}
@media (max-width: 992px) {
  #contact {
    padding-bottom: 3em;
  }
}
#resume-checkout {
  color: #fff;
  padding-bottom: 3em;
  margin-bottom: 4em;
}
@media (max-width: 992px) {
  #resume-checkout .container {
    width: 100%;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
    -moz-box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
    box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
  }
}
@media (min-width: 992px) {
  #resume-checkout {
    padding-top: 3em;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
    -moz-box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
    box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
  }
}
#resume-checkout h1 {
  margin-bottom: 0;
}
#resume-checkout h1 > span {
  border-bottom: 1px solid #fff;
  display: inline-block;
}
#resume-checkout h2 {
  font-size: 2.5em;
}
#resume-checkout h3 {
  font-size: 2em;
  margin-top: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
}
section {
  padding-bottom: 1em;
}
section h2 {
  padding-bottom: 0;
  padding-top: 0;
}
@media (max-width: 767px) {
  section {
    padding-left: 2em;
    padding-right: 2em;
  }
}
section .title > h2 {
  text-align: center;
  border-bottom: 1px solid #d8ded0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 3em;
  font-weight: 100;
}
@media (max-width: 767px) {
  section .title > h2 {
    font-size: 2em;
  }
}
section .title > h2.no-border {
  border: none;
}
.notify {
  margin-top: 4em;
}
.notify .title > h2 {
  font-size: 2.5em;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0.2em;
  padding-top: 0;
}
.notify i {
  font-size: 3.5em;
  color: #4cbff8;
}
.notify p {
  margin-bottom: 0;
}
.notify p + p {
  margin-bottom: 3.5em;
}
#resume-detail {
  padding-left: 1em;
}
@media (max-width: 768px) {
  #resume-detail {
    padding-bottom: 1.5em;
    padding-right: 1em;
  }
}
#resume-detail h3 {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-size: 1.5em;
}
@media (max-width: 768px) {
  #resume-detail h3 {
    padding-top: 0.8em;
  }
}
#resume-detail span.control-label {
  text-align: left;
  padding-left: 0;
}
#resume-detail label {
  padding-left: 0;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
}
@media (max-width: 768px) {
  #resume-detail ul {
    padding-left: 1em;
    padding-right: 1em;
  }
}
#resume-detail ul li {
  margin-bottom: 1.2em;
}
#resume-detail hr {
  border-color: #fff;
  padding-bottom: 1.5em;
  margin-top: 1.5em;
}
.bg-outer {
  background: linear-gradient(to right, #49b4d6 50%, #4cbff8 50%);
}
@media (max-width: 992px) {
  .bg-outer {
    background: transparent;
  }
  .bg-outer .left {
    background: #49b4d6;
  }
  .bg-outer .right {
    background: #4cbff8;
  }
}
.bg-left > div p {
  margin-bottom: 0;
  padding-bottom: 2em;
}
@media (max-width: 767px) {
  .bg-left {
    padding: 1em;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .bg-left {
    padding: 0.5em 8%;
  }
}
@media (min-width: 992px) {
  .bg-left {
    position: absolute;
    right: 2em;
    margin-top: 20%;
  }
}
@media (max-width: 767px) {
  .bg-right > div {
    padding: 1em 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .bg-right > div {
    padding: 1em 6%;
  }
}
.go-back {
  margin-top: 2em;
  float: right;
}
.go-back i {
  vertical-align: middle;
  padding-right: 0.3em;
  padding-top: 0.2em;
  display: inline-block;
}
.go-back a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-top: 1px solid #f1f3ee;
}
hr.strong {
  border-color: #a5a6a7;
}
h2,
h3 {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
#footer .logo {
  float: inherit;
}
@media (max-width: 767px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}
.container-fluid.extend {
  padding-left: 30px;
  padding-right: 30px;
}
#footer {
  position: relative;
  margin-top: -2em;
  min-height: 15em;
  clear: both;
  border: 0;
  background-color: #58595b;
  border-top: 1px solid #f0f0f0;
  color: #fff;
}
#footer > .container-fluid {
  padding-top: 0.5em;
}
.loader {
  display: none;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #4cbff8;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
  margin: 2em auto;
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  background-color: #eee;
}
.menu.navbar {
  display: none;
}
.group-section {
  background-color: #4cbff8;
}
.group-section.gradient {
  background: url("../img/background-diretory.jpg");
  background-size: cover;
  background-position: center;
  background-color: #4cbff8;
}
.group-section #hero span,
.group-section #hero p {
  color: #fff;
}
#hero {
  color: #fff;
}
#hero img {
  margin-top: 2em;
  border-radius: 50%;
}
#hero h1 {
  font-size: 2.7em;
  display: inline-block;
  max-width: 20em;
}
#hero h1 > span {
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#hero h1 + h2 + p {
  font-size: 2em;
}
@media (max-width: 767px) {
  #hero h1 + h2 + p {
    font-size: 1.5em;
  }
}
@media (max-width: 767px) {
  #hero h1 {
    font-size: 2em;
  }
}
#hero h2 {
  text-transform: uppercase;
  margin-bottom: 0.7em;
  margin-top: 0;
  font-size: 2.5em;
}
@media (max-width: 767px) {
  #hero h2 {
    font-size: 2em;
  }
}
#hero .title {
  margin-bottom: 3em;
}
#hero .item {
  padding: 3em;
}
#hero .item > i {
  font-size: 2em;
}
@media (max-width: 992px) {
  #hero .item {
    padding: 2em;
  }
}
#hero .item .icon-credit-card {
  line-height: 0.2em;
  font-size: 2.5em;
}
#contact {
  padding-bottom: 1em;
}
@media (min-width: 768px) {
  #contact {
    padding-bottom: 0.4em;
  }
}
#contact .resume h2 {
  margin-top: 0.16em;
  padding-top: 0;
  font-size: 1.5em;
}
@media (max-width: 768px) {
  #contact .resume {
    text-align: center;
  }
}
#contact .description {
  text-align: right;
  margin-top: 0;
}
@media (min-width: 768px) {
  #contact .description {
    padding: 0;
  }
}
#contact .item-element {
  margin-bottom: 0.1em;
  margin-top: 0.1em;
  padding-left: 0.5em;
}
#contact .item-element a {
  color: #fff;
}
@media (max-width: 767px) {
  #contact .item-element {
    text-align: center;
  }
}
@media (min-width: 768px) {
  #contact .item-element {
    display: inline-block;
  }
}
.item-element {
  padding: 0.5em 1em;
  height: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
}
#footer {
  min-height: 2em;
}
section .title > h2 {
  margin-bottom: 1em;
}
.medic-card {
  border-radius: 3px;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  min-height: 14em;
  margin-bottom: 1em;
  border-bottom: 6px solid #4cbff8;
  padding: 1em;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 7px 0px rgba(147,147,147,0.5);
  -moz-box-shadow: 1px 1px 7px 0px rgba(147,147,147,0.5);
  box-shadow: 1px 1px 7px 0px rgba(147,147,147,0.5);
}
.medic-card:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075), 0 0 30px rgba(102,175,233,0.6);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075), 0 0 30px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 30px rgba(102,175,233,0.6);
}
@media (max-width: 768px) {
  .medic-card {
    text-align: center;
  }
}
.medic-card h2 {
  color: #4cbff8;
  padding-bottom: 0;
  border-bottom: 1px solid #ddd;
}
.medic-card h3 {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  font-size: 1.3em;
}
.medic-card h3,
.medic-card p {
  color: #333;
}
.medic-card img {
  border-radius: 50%;
  position: relative;
  top: 1em;
  margin-bottom: 1.5em;
}
@media (min-width: 992px) {
  .medic-card img {
    right: 1em;
  }
}
.medic-card .resume {
  text-align: center;
}
@media (min-width: 768px) {
  .medic-card .resume {
    text-align: left;
  }
}
.logo {
  padding-top: 0.3em;
}
.icon.icon-facebook,
.icon.icon-twitter,
.icon.icon-mail,
.icon.icon-telephone {
  font-size: 1.3em;
  position: relative;
  top: 0.2em;
}
.form-items {
  margin-bottom: 2em;
}
.form-items select {
  font-size: 1.05em;
  height: auto;
}
@media (min-width: 992px) {
  .form-items .form-item-l {
    padding-right: 0;
  }
  .form-items .form-item-r {
    padding-left: 0;
  }
}
@media (max-width: 992px) {
  .form-items .form-item-l,
  .form-items .form-item-r {
    padding: 0;
  }
}
.label-place {
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  .label-place {
    margin-top: 2em;
  }
}
.label-place .label-default {
  background-color: #ddd;
  color: #58595b;
  font-weight: 400;
}
.heroHeader {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2em;
}
#specialists-grid {
  margin-bottom: 6em;
  min-height: 14em;
}
@media (max-width: 992px) {
  #specialists-grid .card {
    padding: 0;
  }
}
.specialty-filter,
.city-filter {
  display: none !important;
}
.result-message {
  text-align: center;
  display: none;
}
.result-message p {
  color: #8b8c8e;
}
