@import url("https://fonts.googleapis.com/css?family=Cabin|Mukta+Vaani:200,400|Montserrat:800");
html,
body,
#wrap {
  height: 100%;
  margin: 0;
}
body {
  font-size: 16px;
  background: #fff;
  font-family: 'Mukta Vaani', sans-serif;
}
body > #wrap {
  height: auto;
  min-height: 100%;
}
h1,
h2,
h3,
h4 {
  font-family: 'Mukta Vaani', sans-serif;
}
.logo {
  font-family: 'Montserrat', sans-serif;
}
.go-previous i {
  top: 0.15em;
  position: inherit;
  margin-right: 0.5em;
}
.go-previous a:link,
.go-previous a:hover,
.go-previous a:visited,
.go-previous a:active {
  color: #fff;
}
@media (max-width: 768px) {
  .go-previous {
    margin-left: -2em;
  }
}
.navbar-default {
  border: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #fff;
}
.navbar-default .go-previous {
  position: absolute;
  top: 0.9em;
}
.navbar-default .go-previous a:hover,
.navbar-default .go-previous a:link,
.navbar-default .go-previous a:visited,
.navbar-default .go-previous a:active {
  color: #fff;
}
.navbar-default .go-previous a i {
  font-size: 1.4em;
  color: #fff;
}
@media (min-width: 768px) {
  .nav.navbar-nav.navbar-right {
    margin-right: 0;
  }
}
#content {
  padding-bottom: 3em;
  top: 50px;
  height: 100%;
}
#contact .resume h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  font-size: 2em;
}
#contact .resume h3 {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0.5em;
  padding-top: 0.2em;
  text-transform: uppercase;
  font-size: 1.4em;
}
#contact .resume p + p {
  font-size: 0.8em;
}
#contact .description {
  margin-top: 2em;
  padding: 0;
}
@media (max-width: 992px) {
  #contact .description {
    padding: 0.5em 1em;
    margin-bottom: 0;
  }
}
#contact .items {
  padding: 0;
}
#contact .item-element {
  border-left: 0;
  height: auto;
  padding: 0;
  margin-bottom: 0.5em;
  margin-top: 0.1em;
}
#contact .item-element i {
  color: #4cbff8;
}
#contact .item-element a {
  color: #fff;
}
@media (max-width: 992px) {
  #contact .item-element {
    padding: 0.2em 1em;
  }
}
#contact .item-element .cube {
  width: 2em;
  height: 2em;
  background-color: #58595b;
  border-radius: 0.3em;
  margin: 0.5em auto;
}
#contact .footer p {
  font-size: 1.3em;
}
@media (max-width: 992px) {
  #contact {
    padding-bottom: 3em;
  }
}
#resume-checkout {
  color: #fff;
  padding-bottom: 3em;
  margin-bottom: 4em;
}
@media (max-width: 992px) {
  #resume-checkout .container {
    width: 100%;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
    -moz-box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
    box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
  }
}
@media (min-width: 992px) {
  #resume-checkout {
    padding-top: 3em;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
    -moz-box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
    box-shadow: 0px 3px 5px 0px rgba(16,18,18,0.23);
  }
}
#resume-checkout h1 {
  margin-bottom: 0;
}
#resume-checkout h1 > span {
  border-bottom: 1px solid #fff;
  display: inline-block;
}
#resume-checkout h2 {
  font-size: 2.5em;
}
#resume-checkout h3 {
  font-size: 2em;
  margin-top: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
}
section {
  padding-bottom: 1em;
}
section h2 {
  padding-bottom: 0;
  padding-top: 0;
}
@media (max-width: 767px) {
  section {
    padding-left: 2em;
    padding-right: 2em;
  }
}
section .title > h2 {
  text-align: center;
  border-bottom: 1px solid #d8ded0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 3em;
  font-weight: 100;
}
@media (max-width: 767px) {
  section .title > h2 {
    font-size: 2em;
  }
}
section .title > h2.no-border {
  border: none;
}
.notify {
  margin-top: 4em;
}
.notify .title > h2 {
  font-size: 2.5em;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0.2em;
  padding-top: 0;
}
.notify i {
  font-size: 3.5em;
  color: #4cbff8;
}
.notify p {
  margin-bottom: 0;
}
.notify p + p {
  margin-bottom: 3.5em;
}
#resume-detail {
  padding-left: 1em;
}
@media (max-width: 768px) {
  #resume-detail {
    padding-bottom: 1.5em;
    padding-right: 1em;
  }
}
#resume-detail h3 {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-size: 1.5em;
}
@media (max-width: 768px) {
  #resume-detail h3 {
    padding-top: 0.8em;
  }
}
#resume-detail span.control-label {
  text-align: left;
  padding-left: 0;
}
#resume-detail label {
  padding-left: 0;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
}
@media (max-width: 768px) {
  #resume-detail ul {
    padding-left: 1em;
    padding-right: 1em;
  }
}
#resume-detail ul li {
  margin-bottom: 1.2em;
}
#resume-detail hr {
  border-color: #fff;
  padding-bottom: 1.5em;
  margin-top: 1.5em;
}
.bg-outer {
  background: linear-gradient(to right, #49b4d6 50%, #4cbff8 50%);
}
@media (max-width: 992px) {
  .bg-outer {
    background: transparent;
  }
  .bg-outer .left {
    background: #49b4d6;
  }
  .bg-outer .right {
    background: #4cbff8;
  }
}
.bg-left > div p {
  margin-bottom: 0;
  padding-bottom: 2em;
}
@media (max-width: 767px) {
  .bg-left {
    padding: 1em;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .bg-left {
    padding: 0.5em 8%;
  }
}
@media (min-width: 992px) {
  .bg-left {
    position: absolute;
    right: 2em;
    margin-top: 20%;
  }
}
@media (max-width: 767px) {
  .bg-right > div {
    padding: 1em 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .bg-right > div {
    padding: 1em 6%;
  }
}
.go-back {
  margin-top: 2em;
  float: right;
}
.go-back i {
  vertical-align: middle;
  padding-right: 0.3em;
  padding-top: 0.2em;
  display: inline-block;
}
.go-back a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-top: 1px solid #f1f3ee;
}
hr.strong {
  border-color: #a5a6a7;
}
h2,
h3 {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
#footer .logo {
  float: inherit;
}
@media (max-width: 767px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}
.container-fluid.extend {
  padding-left: 30px;
  padding-right: 30px;
}
#footer {
  position: relative;
  margin-top: -2em;
  min-height: 15em;
  clear: both;
  border: 0;
  background-color: #58595b;
  border-top: 1px solid #f0f0f0;
  color: #fff;
}
#footer > .container-fluid {
  padding-top: 0.5em;
}
.loader {
  display: none;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #4cbff8;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
  margin: 2em auto;
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#menu-navbar-collapse #go-registry {
  border-radius: 3px;
  color: #4cbff8;
  background-color: #fff;
  margin-top: 0.33em;
  text-transform: uppercase;
  padding: 0.64em 0.8em;
}
#menu-navbar-collapse #go-registry i {
  padding-right: 0.3em;
  float: left;
  font-size: 1.5em;
}
#menu-navbar-collapse #go-registry:hover {
  background: #f8f8f8 !important;
  color: #0892d6 !important;
}
@media (max-width: 767px) {
  #menu-navbar-collapse {
    border: 0;
  }
  #menu-navbar-collapse ul {
    border-top: 0;
    margin-top: -0.1em;
  }
  #menu-navbar-collapse > .navbar-right li {
    border-bottom: 1px solid #690757;
  }
  #menu-navbar-collapse > .navbar-right li:first-child {
    border-top: 0;
  }
  #menu-navbar-collapse > .navbar-right li:last-child {
    border-bottom: 0;
  }
  #menu-navbar-collapse > .navbar-right li a {
    font-weight: 100;
  }
  #menu-navbar-collapse > .navbar-right li a:hover,
  #menu-navbar-collapse > .navbar-right li a:focus {
    color: #fff;
    background: #fff;
  }
}
.menu.navbar {
  margin-bottom: 0;
  height: 50px;
  background-color: #4cbff8;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(16,18,18,0.23);
  -moz-box-shadow: 0px 1px 3px 0px rgba(16,18,18,0.23);
  box-shadow: 0px 1px 3px 0px rgba(16,18,18,0.23);
}
@media (max-width: 767px) {
  .menu.navbar {
    height: 3.2em;
    padding-left: 2em;
    padding-right: 2em;
  }
}
.menu.navbar > div.container-fluid {
  border: 0;
  padding-top: 0.44em;
}
.menu .resume-doctor {
  font-family: 'Cabin', sans-serif;
  font-size: 1.5em;
  color: #fff;
}
.resume-doctor {
  font-size: 1.3em;
}
.resume-doctor p {
  color: #fff;
  margin: 0;
  font-size: 0.8em;
}
.resume-doctor p + p {
  font-size: 0.66em;
}
.resume-doctor.navbar-brand {
  padding-top: 0.2em;
}
.resume-doctor.navbar-brand:hover {
  color: #fff;
}
@media (min-width: 768px) {
  .resume-doctor.navbar-brand {
    padding-left: 0;
  }
}
#footer .resume-doctor {
  float: right;
  padding-top: 0.5em;
  letter-spacing: 0.03em;
}
.group-section {
  background-color: #4cbff8;
}
.group-section .list-item {
  color: #fff;
}
.group-section #profile {
  padding-top: 2em;
}
.group-section #profile span,
.group-section #profile p {
  color: #fff;
}
.group-section #services {
  padding-top: 1em;
}
.group-section #services span,
.group-section #services p {
  color: #fff;
}
#profile {
  color: #fff;
}
#profile img {
  margin-top: 2em;
  border-radius: 50%;
}
#profile h1 {
  font-size: 3.5em;
}
#profile h1 > span {
  border-bottom: 1px solid #fff;
  display: inline-block;
}
@media (max-width: 767px) {
  #profile h1 > span {
    border-bottom: none;
  }
}
#profile h1 + h2 + p {
  font-size: 2em;
}
@media (max-width: 767px) {
  #profile h1 + h2 + p {
    font-size: 1.5em;
  }
}
@media (max-width: 767px) {
  #profile h1 {
    font-size: 2.7em;
    text-decoration: none;
    border-bottom: 1px solid #fff;
  }
}
#profile h2 {
  text-transform: uppercase;
  margin-bottom: 0.7em;
  margin-top: 0;
  font-size: 2.5em;
}
@media (max-width: 767px) {
  #profile h2 {
    font-size: 2em;
  }
}
#services {
  margin-top: -0.7em;
  color: #fff;
}
#services ul {
  list-style: outside;
  text-align: center;
}
#services ul li {
  width: 15em;
  vertical-align: middle;
  text-align: left;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 1em;
}
#services .item-element {
  margin-bottom: 0;
  height: auto;
}
@media (max-width: 768px) {
  #services .item-element {
    padding-bottom: 0.5em;
    padding-top: 0;
    line-height: 1.1em;
    width: 100%;
  }
}
#schedule > div + div.container {
  padding-bottom: 1.3em;
}
@media (min-width: 768px) {
  #schedule {
    margin-bottom: 2em;
  }
}
#consultation li .item-element {
  margin-top: 0;
  margin-bottom: 1em;
  border: 1px solid #e5e8df;
  border-left: 6px solid #4cbff8;
  border-radius: 2px;
  width: 13em;
  color: #58595b;
}
#consultation .item-element {
  border-left: 6px solid #4cbff8;
}
@media (max-width: 767px) {
  #consultation {
    padding-left: 0;
    padding-right: 0;
  }
  #consultation .container {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media (max-width: 992px) {
  #consultation .list-inline {
    padding-left: 1em;
    padding-top: 1em;
  }
}
.list-item {
  display: list-item;
  color: #4cbff8;
}
.list-item span {
  color: #58595b;
}
.item-element {
  padding: 0.5em 1em;
  height: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.item-element.lg {
/*min-height 12em*/
  height: auto;
  padding-right: 2em;
  border-left: none !important;
}
.item-element .title {
  font-size: 1.2em;
  font-weight: bold;
}
.item-element .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.8em;
  padding-bottom: 1em;
  padding-right: 2em;
}
.item-element .footer span {
  padding: 0.2em 0.8em;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8em;
}
.item-element .footer span.label-success {
  background-color: #4cbff8;
}
.item-element .footer span.label-danger {
  background-color: #cd2c2c;
}
#footer {
  min-height: 15em;
}
.day {
  background-color: transparent;
  padding-bottom: 2em;
  padding-top: 1em;
  border-right: 2px solid #e1e0e0;
  min-width: 14.25em;
  color: #fff;
}
@media (max-width: 768px) {
  .day {
    border-left: 2px solid #e1e0e0;
    border-bottom: none;
  }
}
.day .title.text-center {
  padding: 0.5em;
  border-bottom: 1px solid #cfc9c9;
  margin-bottom: 1.5em;
  background-color: #4cbff8;
  position: relative;
  top: -1em;
}
.reservation-block {
  text-align: center;
  height: 7.12em;
  max-height: 7.12em;
}
.reservation-block button {
  padding: 0 1em;
  width: 80%;
  margin: 1em auto;
  border-left: 6px solid #4cbff8;
  border-radius: 2px;
  color: #b1b1b1;
}
.reservation-block button:hover,
.reservation-block button:visited,
.reservation-block button:focus,
.reservation-block button:active {
  background: #f6f6f6 !important;
  border-color: #4cbff8 !important;
  color: #4cbff8 !important;
}
@media (max-width: 350px) {
  .reservation-block button {
    font-size: 0.7em;
  }
}
@media (max-width: 768px) {
  .reservation-block button {
    width: 90%;
  }
}
.reservation-block button div.reservation-icon {
  float: left;
  margin-top: 1.2em;
}
.reservation-block button div.reservation-icon i {
  padding-top: 0.35em;
  font-size: 3em;
}
@media (max-width: 768px) {
  .reservation-block button div.reservation-icon i {
    padding-top: 0.6em;
    padding-bottom: 0.5em;
  }
}
.reservation-block button div.reservation-text {
  float: left;
  height: 100%;
  padding-left: 1em;
  padding-bottom: 0.5em;
  font-size: 1.3em;
  color: #8b8c8e;
}
.reservation-block button div.reservation-text .hidden-xs {
  padding-bottom: 0;
  line-height: 0.8em;
}
@media (max-width: 767px) {
  .reservation-block button div.reservation-text {
    padding-left: 0;
    padding-top: 0.5em;
    font-size: 1.3em;
  }
}
.reservation-block button div.reservation-text div {
  padding-left: 0.5em;
}
@media (max-width: 767px) {
  .reservation-block button div.reservation-text div {
    padding-top: 1em;
  }
}
@media (min-width: 768px) {
  .reservation-block button div.reservation-text div {
    padding-top: 11%;
  }
}
.reservation-block-empty {
  text-align: center;
  padding: 0 1em;
  height: 7.12em;
  max-height: 7.12em;
}
.reservation-detail {
  background-color: #f1f3ee;
  padding-bottom: 2.6em;
}
@media (max-width: 768px) {
  .reservation-detail {
    width: 96%;
    margin: 2em 1em 2em 0.9em;
  }
}
.reservation-detail h3 {
  margin-top: 0.66em;
  font-weight: 400;
  font-size: 1.5em;
}
.reservation-detail span.control-label {
  text-align: left;
  padding-left: 0;
}
.reservation-detail label {
  padding-left: 0;
  padding-right: 0.5em;
  font-weight: 400;
}
.reservation-detail hr {
  margin-top: 1.5em;
  margin-bottom: 0.2em;
}
.reservation-detail .description-pay .copy {
  padding-right: 0;
}
.reservation-detail .description-pay .copy > div {
  margin-top: 1.5em;
  padding-left: 0.5em;
  font-size: 0.9em;
}
.reservation-detail .description-pay .payment img {
  margin-top: 1em;
}
.reservation-detail .description-pay .payment img + img {
  padding-left: 0.5em;
}
section h3 .pager-shedule {
  text-align: left;
}
.pager-shedule {
  padding-bottom: 1.5em;
  width: 100%;
  padding-right: 0.5em;
  margin-bottom: 1.5em;
}
.pager-shedule .float-right {
  float: right;
}
.pager-shedule .float-left {
  float: left;
}
@media (max-width: 767px) {
  .pager-shedule .week-buttons {
    float: none;
    text-align: center;
    position: relative;
    top: 4.4em;
    margin: 0 auto;
  }
}
.pager-shedule .month {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  margin-right: 0.5em;
  margin-top: -0.25em;
  color: #8b8c8e;
}
@media (max-width: 767px) {
  .pager-shedule .month {
    float: none;
    text-align: center;
    position: relative;
    top: -0.3em;
    margin-right: 0;
  }
}
.pager-shedule button.btn.disabled,
.pager-shedule button.btn[disabled] {
  opacity: 0.45;
}
#block-time-start,
#block-time-end,
#reservation-date,
#price,
#block-number,
#block-limit {
  display: none;
}
.select {
  padding: 0;
}
.select.input-group-addon > select {
  width: auto;
  height: auto;
  border: none;
}
@media (max-width: 768px) {
  .reservation-block-empty {
    display: none;
  }
}
#form-reservation {
  display: none;
  margin-top: -2em;
  margin-bottom: 2em;
}
#form-reservation form {
  margin-top: 0.5em;
}
#form-reservation form h3.title {
  margin-top: 0;
  padding-top: 0;
  font-weight: bold;
}
#form-reservation form .action-button {
  width: 100%;
  margin-top: 1.5em;
  border-radius: 2px;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
}
#form-reservation form .btn-success {
  background-color: #4cbff8;
  border-color: #4cbff8;
}
#form-reservation form .btn-success:hover,
#form-reservation form .btn-success:visited,
#form-reservation form .btn-success:focus {
  background-color: #4cbff8;
  border-color: #4cbff8;
}
#form-reservation form .btn-success:active {
  background-color: #11aaf6;
}
#form-reservation form .label-lg {
  margin-top: -0.2em;
  padding-top: 0;
}
@media (min-width: 992px) and (max-width: 1200px) {
  #form-reservation form .label-lg {
    padding-left: 0;
  }
}
#form-reservation form .label-lg .icon-asterisk {
  bottom: 2.5em;
}
@media (max-width: 992px) {
  #form-reservation form .label-lg .icon-asterisk {
    bottom: 0.1em;
  }
}
#form-reservation form label {
  font-weight: bold;
}
#form-reservation form label .icon-asterisk {
  color: #cd2c2c;
}
#form-reservation form .icon-asterisk {
  font-size: 0.6em;
  position: absolute;
  bottom: 0.4em;
  padding-left: 0.5em;
}
@media (max-width: 992px) {
  #form-reservation form .icon-asterisk {
    position: relative;
    bottom: 0;
  }
}
#form-reservation form .required-copy {
  color: #58595b;
  font-size: 0.85em;
}
#form-reservation form .required-copy .icon-asterisk {
  position: relative;
  bottom: 0.3em;
}
@media (max-width: 768px) {
  #monday,
  #tuesday,
  #wednesday,
  #thursday,
  #friday {
    border-right: none;
    border-left: none;
    margin-bottom: 3em;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(147,147,147,0.5);
    -moz-box-shadow: 0px 3px 7px 0px rgba(147,147,147,0.5);
    box-shadow: 0px 3px 7px 0px rgba(147,147,147,0.5);
  }
  #monday .title,
  #tuesday .title,
  #wednesday .title,
  #thursday .title,
  #friday .title {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}
#friday {
  border-right: none;
}
#friday .title {
  border-top-right-radius: 10px;
}
#monday .title {
  border-top-left-radius: 10px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  #tuesday {
    box-shadow: 0px 3px 8px 0px rgba(147,147,147,0.2);
    -webkit-box-shadow: 0px 3px 8px 0px rgba(147,147,147,0.2);
    -moz-box-shadow: 0px 3px 8px 0px rgba(147,147,147,0.2);
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  #monday {
    box-shadow: -5px 3px 8px 0px rgba(147,147,147,0.2);
    -webkit-box-shadow: -5px 3px 8px 0px rgba(147,147,147,0.2);
    -moz-box-shadow: -5px 3px 8px 0px rgba(147,147,147,0.2);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #monday .title {
    border-top-left-radius: 10px;
  }
}
@media (max-width: 992px) {
  #wednesday {
    border-right: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #wednesday {
    box-shadow: 5px 3px 8px 0px rgba(147,147,147,0.2);
    -webkit-box-shadow: 5px 3px 8px 0px rgba(147,147,147,0.2);
    -moz-box-shadow: 5px 3px 8px 0px rgba(147,147,147,0.2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #wednesday .title {
    border-top-right-radius: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #wednesday {
    box-shadow: 0px 3px 8px 0px rgba(147,147,147,0.2);
    -webkit-box-shadow: 0px 3px 8px 0px rgba(147,147,147,0.2);
    -moz-box-shadow: 0px 3px 8px 0px rgba(147,147,147,0.2);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #thursday {
    margin-top: 2em;
    box-shadow: -5px 3px 8px 0px rgba(147,147,147,0.2);
    -webkit-box-shadow: -5px 3px 8px 0px rgba(147,147,147,0.2);
    -moz-box-shadow: -5px 3px 8px 0px rgba(147,147,147,0.2);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #thursday .title {
    border-top-left-radius: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #thursday {
    box-shadow: 5px 3px 8px 0px rgba(147,147,147,0.2);
    -webkit-box-shadow: 5px 3px 8px 0px rgba(147,147,147,0.2);
    -moz-box-shadow: 5px 3px 8px 0px rgba(147,147,147,0.2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #thursday .title {
    border-top-right-radius: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  #friday {
    box-shadow: 5px 3px 8px 0px rgba(147,147,147,0.2);
    -webkit-box-shadow: 5px 3px 8px 0px rgba(147,147,147,0.2);
    -moz-box-shadow: 5px 3px 8px 0px rgba(147,147,147,0.2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #friday .title {
    border-top-right-radius: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #friday {
    -webkit-box-shadow: 0px 3px 7px 0px rgba(147,147,147,0.5);
    -moz-box-shadow: 0px 3px 7px 0px rgba(147,147,147,0.5);
    box-shadow: 0px 3px 7px 0px rgba(147,147,147,0.5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #friday .title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  #friday {
    margin-top: 2em;
  }
}
.row.margin-reset-r {
  margin-right: 0;
  margin-bottom: 1.5em;
}
@media (max-width: 768px) {
  .row.margin-reset-r {
    margin-right: -15px;
  }
}
@media (max-width: 768px) {
  .media,
  .media-body {
    overflow: inherit;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .media-object {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .media-body,
  .media-left,
  .media-right {
    display: initial;
  }
}
.days {
  border-radius: 10px;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  min-height: 10em;
  margin-bottom: 1em;
}
@media (min-width: 1200px) {
  .days {
    -webkit-box-shadow: 0px 3px 7px 0px rgba(147,147,147,0.5);
    -moz-box-shadow: 0px 3px 7px 0px rgba(147,147,147,0.5);
    box-shadow: 0px 3px 7px 0px rgba(147,147,147,0.5);
  }
}
.week-buttons {
  display: inline-block;
}
@media (max-width: 767px) {
  .week-buttons {
    text-align: center;
    width: 100%;
  }
}
.week-buttons #next-week {
  margin-left: 1em;
}
.week-buttons #last-week {
  margin-right: 1em;
}
.circle-decorator {
  width: 0.7em;
  height: 0.7em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #58595b;
  margin: auto;
  position: absolute;
  top: 0.3em;
}
.circle-decorator + div {
  margin-left: 1em;
}
.def {
  background: #f00;
  width: 200px;
  height: 100px;
}
.col-center {
  float: none;
  margin: o auto;
}
.map_container {
  position: relative;
}
#map-canvas {
  overflow: hidden;
  padding-bottom: 22.25%;
  padding-top: 30px;
  position: relative;
}
#monday-day-date,
#tuesday-day-date,
#thursday-day-date,
#wednesday-day-date,
#friday-day-date {
  display: none !important;
}
.day-number {
  font-size: 2em;
  font-weight: bold;
}
.reservation-block button.selected {
  border-color: #4cbff8;
  color: #4cbff8;
}
.reservation-block button.inactive {
  border-color: #d6d6d6;
}
.week-buttons button {
  border-color: #58595b;
  border-radius: 50%;
  padding: 0.4em 0.6em 0.1em 0.5em;
}
.week-buttons button:hover {
  background-color: transparent;
  border-color: #3f4041;
}
.week-buttons button i {
  color: #58595b;
}
.non-reservable .reservation-icon {
  color: #b1b1b1;
}
.non-reservable .reservation-text {
  color: #cbcbcb !important;
}
.non-reservable:hover:hover,
.non-reservable:hover:visited,
.non-reservable:hover:focus,
.non-reservable:hover:active {
  border-color: #b1b1b1 !important;
  color: #4cbff8 !important;
}
#nationality {
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}
.icon.social-icon {
  font-size: 1.3em;
  position: relative;
  top: 0.2em;
}
#consultation-map {
  height: 450px;
  width: 100%;
}
#consultation-map > div {
  height: 450px;
  width: 100%;
}
