@charset "UTF-8";

@font-face {
  font-family: "icon";
  src:url("../fonts/icon.eot");
  src:url("../fonts/icon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon.woff") format("woff"),
    url("../fonts/icon.ttf") format("truetype"),
    url("../fonts/icon.svg#icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\61";
}
.icon-arrow-go:before {
  content: "\65";
}
.icon-arrow-back:before {
  content: "\66";
}
.icon-calendar:before {
  content: "\67";
}
.icon-calendar-check:before {
  content: "\68";
}
.icon-calendar-remove:before {
  content: "\69";
}
.icon-credit-card:before {
  content: "\6a";
}
.icon-twitter:before {
  content: "\63";
}
.icon-mail:before {
  content: "\64";
}
.icon-telephone:before {
  content: "\6b";
}
.icon-asterisk:before {
  content: "\6c";
}
.icon-calendar-o:before {
  content: "\6f";
}
.icon-facebook:before {
  content: "\62";
}
.icon-left-open-big:before {
  content: "\6d";
}
.icon-right-open-big:before {
  content: "\6e";
}
.icon-instagram:before {
  content: "\71";
}
.icon-check:before {
  content: "\70";
}
.icon-alert:before {
  content: "\72";
}
