{% extends 'base.html' %}

{% block meta %}
{% endblock %}

{% block title %}
    Medic
{% endblock %}

{% block css %}
    {% load staticfiles%}
    <link rel="stylesheet" href="{% static 'css/directory.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles_font.css' %}">
{% endblock %}

{% block body %}
    <div id="wrap">
        <div id="header">
            <nav class="menu navbar navbar-default navbar-fixed-top">
                <div class="container">        
                    <div class="text-center">
                        <div class="logo">
                             Medic
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div id="content">
            <div class="group-section gradient">
                <section id="hero">
                    <div class="container">
                        <div class="row title">
                            <div class="col-xs-12">
                                <div class="logo heroHeader text-center">                                    
                                    Medic
                                </div>
                            </div>
                        </div>

                        <div class="row title">
                            <div class="col-xs-12">
                                <div class="text-center">                                    
                                    <h1><span>Encuentra a tu <strong>médico ideal</strong> y reserva una consulta <strong>desde tu hogar</strong></span></h1>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row text-center">
                            <div class="col-xs-12 col-sm-4">
                                <div class="item">
                                    <i class="icon icon-clock"></i>
                                    <p>Programe una cita y evite largas esperas</p>
                                </div>
                            </div>
                        
                            <div class="col-xs-12 col-sm-4">
                                <div class="item">
                                    <i class="icon icon-calendar-check"></i>
                                    <p>Realice su reserva desde cualquier lugar</p>
                                </div>
                            </div>
                        
                            <div class="col-xs-12 col-sm-4">
                                <div class="item">
                                    <i class="icon icon-credit-card"></i>
                                    <p>Pague con su tarjeta de crédito</p>
                                </div>
                            </div>
                        </div>

                    </div>                
                </section>
            </div>

            <section id="specialists">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 title">
                            <h2>
                                Nuestros especialistas
                            </h2>
                        </div>
                    </div>
                    <div class="row form-items">
                        <div class="form-item-l col-md-8">
                            <div class="form-group">                                            
                                <label for="specialty" class="control-label col-md-8">Especialidad</label>
                                <div class="col-md-12">
                                    <select id="specialty" name="specialty" class="form-control directory-filter">
                                        <option value="all">Todas</option>
                                        {% if specialties %}
                                            {% for specialty in specialties %}
                                                <option value="{{specialty.name}}">{{specialty.name}}</option>                                        
                                            {% endfor%}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-item-r col-md-4">
                            <div class="form-group">                                            
                                <label for="city" class="control-label col-md-8">Ciudad</label>
                                <div class="col-md-12">
                                    <select id="city" name="city" class="form-control directory-filter">
                                        <option value="all">Todos</option>  
                                        {% if cities %}                                      
                                            {% for city in cities%}
                                                <option value="{{city.name}}">{{city.name}}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="specialists-grid">
                <div class="container">    
                    <div class="row">
                        <div class="col-xs-12">                        
                            {% if not doctors %}
                                <div class="result-message" style="display:block">
                                    <p class="noresult"> - No hay médicos disponibles - </p>
                                </div>
                            {% else %}
                                <div class="result-message">
                                    <p class="noresult"> - No se encontraron resultados - </p>
                                </div>
    
                                {% for doctor in doctors %}  
                                    <div class="item-card">
                                        <input class="city-filter" type="text" value="{{doctor.profile.city}}">
                                        
                                        {% for doctor_specialty in doctor.specialty.all %}
                                            <input class="specialty-filter" type="text" value="{{doctor_specialty}}">
                                        {% endfor %}
        
                                        <div class="card col-md-6">
                                            <a href="/{{doctor.profile.display_name}}">
                                                <div class="medic-card">
                                                {% if doctor.profile.photo.url %}
                                                    <div class="col-sm-2 col-sm-push-10">
                                                        <img src="{{doctor.profile.photo.url}}" alt="Foto de perfil" width="80" height="80">
                                                    </div>
                                                    <div class="col-sm-10 col-sm-pull-2 resume">                                                    
                                                {% else %}
                                                    <div class="col-sm-12 resume">    
                                                {% endif %}
                                                        <h2>
                                                            <span>{{doctor.denomination}} <span>{{doctor.display_fullname}}</span></span>
                                                        </h2>
                                                        <h3>
                                                            {{doctor.display_specialties}}                                             
                                                        </h3>
                                                        <p>{{doctor.profile.description}}</p>
                                                        <div class="label-place">
                                                            <span class="label label-default">{{doctor.profile.city}}</span>
                                                        </div> 
                                                    </div>   
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div id="footer">
        <div class="container-fluid extend text-center">
             <div id="contact" class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-6">
                        <div class="col-xs-12 resume text-left">
                            <h2 class="logo" ><span>Medic</h2>
                        </div>
                    </div>

                    <div class="col-sm-8 col-md-6">
                        <div class="col-xs-12 text-left">
                            <div class="row">
                                <div class="description" >
                                    <div class="item-element">
                                        <a href="mailto:info@medic.com.ve">
                                            info@medic.com.ve
                                        </a>
                                    </div>                                    
                                    <div class="item-element hidden-xs">
                                    |
                                    </div>                                   
                                    <div class="item-element">
                                        <a href="mailto:info@medic.com.ve">
                                            <i class="icon icon-mail"></i>
                                        </a>
                                    </div> 
                                    <div class="item-element">
                                        <a href="https://twitter.com/medicve" target="_blank">
                                            <i class="icon icon-twitter"></i>
                                        </a>
                                    </div> 
                                    <div class="item-element">
                                        <a href="https://www.facebook.com/medicve" target="_blank">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </div> 
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}	

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static '/js/directory.js' %}"></script>
{% endblock %}