<h1>Hola</h1>

<strong>
    https://auth.mercadopago.com.ve/authorization?client_id={{client_id}}&response_type=code&platform_id=mp&redirect_uri={{url_auth}}
</strong>

<p>
    <a href="https://auth.mercadopago.com.ve/authorization?client_id={{client_id}}&response_type=code&platform_id=mp&redirect_uri={{url_auth}}">Autorizar</a>
 </p>