{% extends 'base.html' %}

{% block title %}
    Autenticación de mercadopago
{% endblock %}

{% block css %}
    {% load staticfiles%}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles_font.css' %}">
{% endblock %}

{% block body %}
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row notify">
                    <div class="col-xs-12 title">
                        <p><i class="icon icon-{{icon_text}}" aria-hidden="true"></i></p>
                        <h2 class="no-border">{{primary_text}}</h2>
                        <p>{{secondary_text}}</p>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</section>
{% endblock %}