{% extends 'base.html' %}

{% block title %}
    {% if doctor %}
        {{doctor}} | {{doctor.display_specialties}}
    {% endif %}
{% endblock %}

{% load staticfiles%}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles_font.css' %}">
{% endblock %}

{% block body %}
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row notify">
                    <div class="col-xs-12 title">
                        <p><i class="icon icon-clock" aria-hidden="true"></i></p>
                        <h2 class="no-border">Un paso más</h2>
                        <p>Estamos procesando su pago, al ser confirmado</p>
                        <p>le enviaremos una notificación vía SMS y correo electrónico</p>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</section>

<div id="resume-checkout" class="bg-outer">
    <div class="container">
        <div class="row">     
            <div class="col-md-6 left">
                <div class="bg-left">
                    <div>
                        <h1><span>{{doctor.denomination}} <span>{{doctor.display_fullname}}</span></span></h1>
                        <h3>{{doctor.display_specialties}}</h3>
                        <p>{{doctor.profile.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 right">
                <div id="resume-detail" class="bg-right">
                    <div>
                        <div class="row">
                            <h3 class="text-center">
                                Detalle de reserva
                            </h3>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-12">              
                                <label class="control-label col-md-3">Solicitante:</label>
                                <span class="control-label col-md-9 text-capitalize" id="text-applicant">{{reservation.client_name}}</span>
                            </div>

                            <div class="col-xs-12">              
                                <label class="control-label col-md-3">Cédula:</label>
                                <span class="control-label col-md-9" id="text-identity">{{reservation.nationality}}{{reservation.identity_card}}</span>
                            </div>

                            <div class="col-xs-12">              
                                <label class="control-label col-md-3">Celular</label>
                                <span class="control-label col-md-9" id="text-phone">{{reservation.phone}}</span>
                            </div>

                            <div class="col-xs-12">              
                                <label class="control-label col-md-3">Correo:</label>
                                <span class="control-label col-md-9" id="text-email">{{reservation.email}}</span>
                            </div>
                                            
                            <div class="col-xs-12">
                                <br>
                            </div>

                            <div class="col-xs-12">              
                                <label class="control-label col-md-3">Monto:</label>
                                <span class="control-label col-md-9" id="text-price">{{reservation_detail.amount}}</span>
                            </div>

                            <div class="col-xs-12">              
                                <label class="control-label col-md-3">Fecha:</label>
                                <span class="control-label col-md-9" id="text-date">{{reservation_detail.date}}</span>
                            </div>

                            <div class="col-xs-12">              
                                <label class="control-label col-md-3">Bloque:</label>
                                <span class="control-label col-md-9" id="text-block">{{reservation_detail.block}}</span>
                            </div>

                            <div class="col-xs-12">              
                                <label for="price" class="control-label col-md-3">Lugar:</label>
                                <span class="control-label col-md-9" id="text-price">{{reservation_detail.place}}</span>
                            </div>

                            <div class="col-xs-12"><hr class="strong"></div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <ul>
                                    <li>Se atenderá por orden de llegada.</li>
                                    <li>Al ingresar a la consulta indique que reservó la cita por el sitio web y presente la cédula del solicitante de la misma.</li>
                                    <li>Si quiere hacer algún cambio de la reserva comuníquese al {{doctor.display_contacts}} en horario de oficina.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="go-back">
                                    <i class="icon icon-arrow-back-o" aria-hidden="true"></i>
                                    <a href="{{url_back}}">
                                        volver al inicio
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}