{% extends 'base.html' %}

{% block meta %}
{% endblock %}

{% block title %}
    {% if doctor %}
        {{doctor}} | {{doctor.display_specialties}}
    {% endif %}
{% endblock %}

{% load staticfiles%}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles_font.css' %}">
{% endblock %}

{% block body %}
    {% if doctor %}
        <div id="wrap">
            <div id="header" style="display:none">
                <nav class="menu navbar navbar-default navbar-fixed-top">
                    <div>
                        <div class="container-fluid">
                            {% if request.META.HTTP_REFERER %}
                                <div class="go-previous" style="">
                                    <a href="/">
                                        <i class="icon icon-left-open-big" aria-hidden="true"></i>
                                    </a>
                                </div>
                            {% endif %}
                            
                            <div class="container">
                                <div class="navbar-header">
                                    <div class="resume-doctor navbar-brand">
                                        <p>{{doctor}}</p>
                                        <p>{{doctor_specialties}}</p>
                                    </div>
                                </div>
                                    
                                <div class="collapse navbar-collapse" id="menu-navbar-collapse">      
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <a id="go-registry" href="#" class="btn btn-link"> 
                                                <i class="icon icon-calendar-o" aria-hidden="true"></i>
                                                <strong> Reservar cita </strong>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

            <div id="content">
                <div class="group-section">
                    <section id="profile">
                        {% if request.META.HTTP_REFERER %}
                            <div class="container-fluid go-previous">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <i class="icon icon-left-open-big" aria-hidden="true"></i>
                                        <a href="/">Volver</a>
                                    </div>         
                                </div>
                            </div>
                        {% endif %}

                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="text-center">
                                        {% if doctor.profile.photo.url %}
                                            <img src="{{doctor.profile.photo.url}}" alt="Foto de perfil" width="150" height="150">
                                        {% endif %}
                                        <h1 {% if not doctor.profile.photo.url %} style="padding-top: 1em;" {% endif %}><span>{{doctor.denomination}} <span>{{doctor.display_fullname}}</span></span></h1>
                                        <h2>{{doctor_specialties}}</h2>
                                        <p>{{doctor.profile.description}}</p>
                                        <p id="display_name" style="display:none">{{doctor.profile.display_name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>                
                    </section>

                    <section id="services">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">                                    
                                    <ul class="list-inline">
                                        {% for service in doctor.service.all %}
                                            <li class="item-element">
                                                <div class="list-item">
                                                    <span>{{service}}</span>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>                                    
                                </div>
                            </div>        
                        </div>
                    </section>
                </div>

                <section id="consultation">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 title">
                                <h2>
                                    Consultas
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-xs-12 item-element lg">
                                    <div class="row">
                                        {% if doctor_office %}
                                            <div class="col-md-7">
                                                <p class="title">{{doctor_office.attention_center}}</p>
                                                <p>{{doctor_office.attention_center.address}}, {{doctor_office.attention_center.name}}, {{ doctor_office.description }}, 
                                                    {{doctor_office.attention_center.city.name}}, {{doctor_office.attention_center.city.region.name}}.</p>
                                            </div>
                                        {% endif %}

                                        <div class="block-items">
                                            <div class="col-md-5">
                                                <div class="row">
                                                    <ul class="list-inline text-center">
                                                        {% for schedule in doctor.schedule_attention.all %}
                                                            <li class="text-center">
                                                                <div class="item-element">
                                                                    <div>
                                                                        <strong>{{schedule.day}}</strong>
                                                                    </div>
                                                                    <div>
                                                                       {{schedule.workday}}
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="consultation-map" class="google-maps">
                        <!--iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe-->
                    </div>
                </section>

                <section id="schedule">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 title">
                                <h2>
                                    Reserve una cita
                                </h2>
                            </div>
                        </div>            
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h3 class="description"> Seleccione el día y horario en el que desea ser atendido</h3>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="pager-shedule">
                                                    <div class="float-left week-buttons">
                                                        <button id="last-week" class="btn btn-default" disabled="true">
                                                            <i class="icon icon-left-open-big" aria-hidden="true"></i>
                                                        </button>
                                                        Semana del <span id="week_date"></span>
                                                        <button id="next-week" class="btn btn-default">
                                                            <i class="icon icon-right-open-big" aria-hidden="true"></i>
                                                        </button>
                                                    </div>

                                                    <div id="month-name" class="float-right month">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">    
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div id="schedule-loader" class="loader"></div>
                                </div>
                                <div id="schedule-days" class="row days">
                                    <div id ="monday" class="day col-xs-12 col-sm-3 col-lg-2">
                                        <article>
                                            <div class="row title text-center">
                                                <div class="row day-date">
                                                </div>
                                                <div class="row day-name">
                                                    Lunes
                                                </div>
                                            </div>
                                            <div class="row content">
                                            </div>
                                        </article>
                                    </div>
                                    <div id ="tuesday" class="day col-xs-12 col-sm-3 col-lg-2">
                                        <article>
                                            <div class="row title text-center">
                                                <div class="row day-date">
                                                </div>
                                                <div class="row day-name">
                                                    Martes
                                                </div>
                                            </div>
                                            <div class="row content">
                                            </div>
                                        </article>
                                    </div>
                                    <div id="wednesday" class="day col-xs-12 col-sm-3 col-lg-2">
                                        <article>
                                            <div class="row title text-center">
                                                <div class="row day-date">
                                                </div>
                                                <div class="row day-name">
                                                    Miércoles
                                                </div>
                                            </div>
                                            <div class="row content">
                                            </div>
                                        </article>
                                    </div>
                                    <div id="thursday" class="day col-xs-12 col-sm-3 col-lg-2">
                                        <article>
                                            <div class="row title text-center">
                                                <div class="row day-date">
                                                </div>
                                                <div class="row day-name">
                                                    Jueves
                                                </div>
                                            </div>
                                            <div class="row content">
                                            </div>
                                        </article>
                                    </div>
                                    <div id="friday" class="day col-xs-12 col-sm-3 col-lg-2">
                                        <article>
                                            <div class="row title text-center">
                                                <div class="row day-date">
                                                </div>
                                                <div class="row day-name">
                                                    Viernes
                                                </div>
                                            </div>
                                            <div class="row content">
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="form-reservation">
                    <div class="container">        
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row margin-reset-r">
                                    <form method="post" action="/reservation/{{doctor.profile.display_name}}/" class="form-horizontal">
                                        {% csrf_token %}

                                        <div class="col-xs-12 col-md-8">
                                            <h3 class="title"> Especifique sus datos </h3> 
                                            <div class="col-xs-12">
                                                <div class="form-group">                                            
                                                    <label for="name" class="control-label col-md-2 label-lg">Nombre y apellido <i class="icon icon-asterisk" aria-hidden="true"></i></label>
                                                    <div class="col-md-10">
                                                        <input type="text" id="name" name="name" class="form-control" required="true">                                        
                                                    </div>
                                                </div>
                                            </div>                 
                                            <div class="col-xs-12">
                                                <div class="form-group">                                            
                                                    <label for="identification" class="control-label col-md-2">Cédula <i class="icon icon-asterisk" aria-hidden="true"></i> </label>
                                                    <div class="col-md-10">
                                                        <div class="input-group">
                                                            <div class="select input-group-addon">
                                                                <select id="nationality" name="nationality" class="form-control">
                                                                    <option value="V">V</option>
                                                                    <option value="E">E</option>
                                                                </select>
                                                            </div>
                                                            <input type="text" class="form-control" id="identification" name="identification" required="true">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">  
                                                <div class="form-group">              
                                                    <label for="phone" class="control-label col-md-2">Celular <i class="icon icon-asterisk" aria-hidden="true"></i></label>
                                                    <div class="col-md-10">
                                                            <input type="text" id="phone" name="phone" class="form-control" pattern="[0]{1}[4]{1}[1-2]{1}[2-4-6]{1}[-]{0,1}[0-9]{7}" maxlength=12 required="true">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">  
                                                <div class="form-group">              
                                                    <label for="email" class="control-label col-md-2">Correo <i class="icon icon-asterisk" aria-hidden="true"></i></label>
                                                    <div class="col-md-10">
                                                        <input type="email" id="email" name="email" class="form-control" required="true">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-10 col-md-offset-2">
                                                        <div class="required-copy">
                                                            <i class="icon icon-asterisk" aria-hidden="true"></i>
                                                            Campos obligatorios
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <input type="text" id="reservation-date" name="reservation-date" class="form-control" value="" required="true" readonly>
                                            <input type="text" id="block-time-start" name="block-time-start" class="form-control" value="" required="true" readonly>
                                            <input type="text" id="block-time-end" name="block-time-end" class="form-control" value="" required="true" readonly>                                            
                                            <input type="text" id="price" name="price" class="form-control" value={{price}} required="true" readonly>
                                            <input type="text" id="block-number" name="block-number" class="form-control" value="" required="true" readonly>
                                            <input type="text" id="block-limit" name="block-limit" class="form-control" value="" required="true" readonly>
                                        </div>

                                        <aside id="detail-reservation" class="reservation-detail col-xs-12 col-md-4">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h3 class="text-center">
                                                        Detalle de reserva
                                                    </h3>   
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">              
                                                    <label for="price" class="control-label col-md-3">Monto:</label>
                                                    <span class="control-label col-md-9" id="text-price">{{price}}</span>
                                                </div>
                                                <div class="col-xs-12">              
                                                    <label for="reservation-date" class="control-label col-md-3">Fecha:</label>
                                                    <span class="control-label col-md-9" id="text-reservation-date"></span>
                                                </div>
                                                <div class="col-xs-12">              
                                                    <label for="block-time" class="control-label col-md-3">Bloque:</label>
                                                    <span class="control-label col-md-9" id="text-block-time"></span>
                                                </div>
                                                <div class="col-xs-12">              
                                                    <label for="consultation-place" class="control-label col-md-3">Lugar:</label>
                                                    <span class="control-label col-md-9" id="consultation-place">{{doctor_office.attention_center.name}}</span>
                                                </div>
                                                <div class="col-xs-12"><hr class="strong"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="row description-pay">
                                                        <div class="col-xs-6 text-left copy">
                                                            <div>Realice sus pagos mediante una tarjeta de crédito</div>
                                                        </div>
                                                        <div class="col-xs-6 text-left">                                               
                                                            <div class="payment">
                                                                <img src="{% static '/img/logo-visa.png' %}" alt="" width="70">
                                                                <img src="{% static '/img/logo-mastercard.png' %}" alt="" width="70">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12 text-center">
                                                    <button class="btn btn-success btn-lg action-button">Reservar</button>
                                                </div>
                                            </div>
                                        </aside>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div id="footer">
            <div class="container-fluid extend text-center">
                <div id="contact" class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-xs-12 resume text-left">
                                <h2><span>{{doctor.denomination}} <span>{{doctor.display_fullname}}</span></span></h2>
                                <h3>{{doctor_specialties}}</h3>
                                <p>{{doctor.profile.description}}</p>
                                <p>MPPS: {{doctor.mpps}}, {{doctor.registration_number}} </p>
                            </div>
                        </div>

                        {% if doctor.contact.first != None or doctor.social.first != None %}
                            <div class="col-md-6">
                                <div class="col-xs-12 text-left">
                                    <div class="row">
                                        <p class="description col-xs-12" >Para más información</p>
                                    </div>
                                    <div class="row">
                                        {% if doctor.contact.first %}
                                            <div class="items col-sm-6"> 
                                            {% for contact in doctor.contact.all %}
                                                <div class="item-element">
                                                    <i class="icon social-icon icon-telephone"></i>
                                                    {{contact.phone}}
                                                </div>    
                                            {% endfor%}
                                            </div>
                                        {% endif %}

                                        {% if doctor.social.first %}
                                            <div class="items col-sm-6">
                                            {% for social in doctor.social.all %}
                                                <div class="item-element">           
                                                    <i class="icon social-icon icon-{{social.social_type}}" aria-hidden="true"></i>
                                                    <a href="{{social.get_url}}" {% if social.social_type != 'mail' %} target="_blank" {% endif %} >{{social.social_id}}</a>
                                                    
                                                </div>
                                            {% endfor%}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}	

{% block js %}
    <script>
        // Configs
        var PLACE_LAT = {{doctor_office.attention_center.latitude}};
        var PLACE_LNG = {{doctor_office.attention_center.longitude}};
        var PLACE_NAME = "{{doctor_office.attention_center.name}}"

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBv7etmsvavhLgJDqi6H5onaNB66cDXn7U"></script>

    <script src="{% static '/js/utils/date.js' %}"></script>
    <script src="{% static '/js/utils/calendar.js' %}"></script>
    <script src="{% static '/js/profile.js' %}"></script>
{% endblock %}